modules = ["bun"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun install && bun run dev"
